* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #011627;
}

#main-container {
  margin: 200px auto;
  display: flex;
  height: 360px;
  width: 360px;
  background-color: #1A1423;
}

#left-column,
#middle-column,
#right-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33.33%;
  /* flex: 1; */
}

#left-column {
  align-items: center;
  justify-content: center;
  position: relative;
}

#middle-column{
  justify-content: space-between;
  align-items: center;
}

#right-column {
  align-items: center;
  justify-content: center;
  position: relative;
} 

.switch {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  cursor: grab;
}

.left-switch {
  background-color: #E71D36;
  border: 5px solid #E71D36;
}

.top-switch {
  background-color: #52CC00;
  border: 5px solid #52CC00;
}

.right-switch {
  background-color: #F9B339;
  border: 5px solid #F9B339;
}

.bottom-switch {
  background-color: #2EC4B6;
  border: 5px solid #2EC4B6;
}

#middle-switch {
  background-color: #BEB7DF;
  border-radius: 0;
  height: 80px;
  width:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #7D83FF;
  border-radius: 15px 30px;
  position: relative;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.press-play > p {
  color: inherit;
}

p {
  color: #BEB7DF;
}

#current-score-box {
  position: absolute;
  height: 13px;
  width: 22px;
  left: 0;
  bottom: 0;
  font-size: 11px;
  font-family: 'Press Start 2P', cursive;
}

.hidden {
  z-index: -1;
}

.hollow {
  background-color: inherit;
}

#message {
  color: #CEBEBE;
  position: relative;
  height: 40px;
  width:50px;
  top: -40px;
  right: 28px;
  cursor: none;
  font-family: 'Monoton', cursive;
}
  
.game-message {
    display: none;
}

#count {
  position: absolute;
  left: 70px;
  bottom: 0px;
  font-family: 'Press Start 2P', cursive;
}

#high-score-box {
  position: absolute;
  height: 13px;
  width: 22px;
  right: 61px;
  bottom: 12px;
  font-size: 11px;
  font-family: 'Press Start 2P', cursive;
}

#high-score {
  position: absolute;
  left: 70px;
  bottom: -13px;
  font-family: 'Press Start 2P', cursive;
}

/* @media only screen and (min-width: 768px) {

} */