* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #011627;
  }

  #main-container {
    margin: 20px auto;
    display: flex;
    height: 300px;
    width: 300px;
    background-color: #1A1423;
  }

  #left-column,
  #middle-column,
  #right-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.33%;
    position: relative;
    flex: 1;
  }

  #left-column {
    align-items: center;
    justify-content: center;
  }

  #middle-column{
    justify-content: space-between;
    align-items: center;
  }

  #right-column {
    align-items: center;
    justify-content: center;
  } 

  .border {
    background-color: #011627;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .switch {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  #left-switch-container {
    border: 5px solid green;
  }

  #top-switch-container {
    border: 5px solid yellow;
  }

  #right-switch-container {
    border: 5px solid blue;
  }

  #bottom-switch-container {
    border: 5px solid red;
  }

  #left-switch {
    background-color: #E71D36;
  }

  #top-switch {
    background-color: #52CC00;
  }

  #right-switch {
    background-color: #F9B339;
  }

  #bottom-switch {
    background-color: #2EC4B6;
  }

  #middle-switch {
    background-color: #1A1423;
    border-radius: 0;
    height: 50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #BEB7DF;
    position: relative;
  }

  p {
    color: #BEB7DF;
  }

  #current-score-box {
    position: absolute;
    height: 13px;
    width: 22px;
    border: 1px solid silver;
    left: 0;
    bottom: 0;
  }

  #current-score-box {
    font-size: 11px;
  }


  .hidden {
    z-index: -1;
}

#message {
  color: #CEBEBE;
  position: relative;
  height: 50px;
  width:50px;
  top: -20px;
  right: 17px;
}

.game-message {
  display: none;
}